</main>

<footer>
  <a class="nav-link" href="/home" id="navButt" >Home</a>
  <a class="nav-link" href="/browse" id="navButt">Browse</a>
  <p style="padding: 0.1px; font-size: xx-small;">Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>

</html>