<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  
  <title>Munyas Blog</title>
</head>
<body>
  <header>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="refined">
    <a class="navbar-brand" href="/home" id="brandName" style="color: rgb(21, 128, 117);">AllaBlog</a>
    </div>
  </nav>

  </header>
 
  <main>

